/* ********************************** */
@media (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }  
    .header__wrapper{
        padding-top: 15px;
    }

    .header {
        padding: 0px 0px 0px 0;
    }
    .main-content__info {
       right: 0;
   }
   .main-content__wrapper {
       display: flex;
       flex-wrap: wrap;
       flex-direction: column-reverse;
   }
   .main-content__aplication,
   .main-content__info {
       position: static;
   }

   .main-content__aplication {
       width: 100%;
       justify-content: space-around;
   }

   .qr-code {
    width: 100px;
    height: 100px;
}

   }
   
   @media (max-width: 1090px) {
       .services {
           padding: 120px 0px;
       }
       .application-img {   
           width: 182px;
           height: 119px
       }
       
      }
      @media (max-width: 942px) {
          body {
           font-size: 14px;
          }
       .services {
           padding: 20px 0px;
       }
       .services__wrapper {
           justify-content: center;
      }
      .services__item img {
       
       margin-right: 60px;
   }
   .services__item {
      
       width: auto;
      
   }
   .search-shield  {
      padding-left: 0px;
   }
   .menu-btn {
       display: block;
      
   }
   .navigation-list {
           display: none;
           text-align: center;
           position: absolute;
           top: 70px;
           left: 0;
           background-color: transparent; 
   }
   .footer {
       bottom: -60px;
   }
   .footer__wrapper {
       flex-wrap: wrap;
   }
   
   .services__item a {
       font-size: 30px;
   }
   .social {
       width: 100%;   
       margin: 10px 0 0 20px; 
   }
   
   .main-content__map {
       width: 700px;
       height: auto;
   }
   .main-content__info {
       top: -40px;
   }
   
   }
    
   @media (max-width: 645px) {
       .services__item img {
           width: 50px;
           height: 60px;
       }
       .search-shield {
           padding-left: 20px;
       }
       .navigation-list {
           width: 100%;
           text-align: center;
           top: 70px;
           left: 0;
          
       }
       .navigation-list li {        
           display: block;
           margin: 0 0 15px 0;
          
       }
       .navigation-list li + li {        
                  margin-left: 0;
          
       }

       #messPolityka {       
        top: 16rem;
        right: 20rem;        
    }

      
    .qr-code, 
    .application-img {
        margin: 0 auto 40px;
    }
    #map {
    height: 300px;
    width: 300px;
}
       
      }
      @media (max-width: 480px) {
          
       .registration-form {
           width: 100%;
       }
      
       .services__item img {
           margin-right: 20px;
       }
       .form-title {        
           left: 75px;
   
       }
       .footer__wrapper {
           justify-content: center;
       }
   
       .rights, 
       .sign {
           width: 100%;
           text-align: center;
   
       }
       .rights{
           text-align: center;
       }
       .social {
           flex-wrap: wrap;
           justify-content: center;
       }
       .social-links {
           min-width: 300px;
           text-align: center;
           margin-top: 10px;
       }
      
       .menu-btn.active .move-down,
       .menu-btn.active .move-up
        {
           width: 20px;
       }
       .menu-btn span{
           width: 30px;
       }
       .services__item {
           padding: 0px;
       }
       .main-content__aplication {
        width: 200px;
         flex-direction: column-reverse;
     }
     #messPolityka{
        top: 16rem;
        right: 3rem;        
       }
       
       .main-title {
        left: 20%;
    }
      }
      @media (max-width: 320px) {       
       
       .form-title {        
           left: 25px;
       }
       
      }
   
     
      