html {
    box-sizing: border-box;
    /* height: 100%; */
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }
  button {
    cursor: pointer;
    transition: all 0.3s;
  }
  ul {
      list-style: none;
  }
  
  body {
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 17px;
      line-height: 1.4; 
      height: auto;
      background-color: #dec8ba;
      height: auto;
  }

  #first-name,
  #second-name {
      margin-bottom: 15px;
  }

 .content {    
 margin: 0 auto;
 max-width: 1900px;
 position: relative;
}      

.container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;  
}
.header {    
    /* padding: 0px 0px 520px 0;         */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    /* max-height: 1600px;  */
}
.notar-header {
    background-image: url(../image/notarius_mail_pic_books.jpg);
}
.header__wrapper {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0 0;

}
.header__logo {
    width: 215px;
    height: 40px;
    background-image: url(../image/e-notarius_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header__logo img{
    width: 100%;
    height: auto;
}

.navigation-list {
    margin: 0;
}
.navigation-list li {
    display: inline-block;
    transition: all 0.3s;
}
.navigation-list li:hover,
a:hover
 {
    color: #ffffff;
}
.navigation-list .active {
    color: #ffffff;
}

.navigation-list li + li {
    margin-left: 40px;
}


.services {
    padding: 100px 0px;
    background-image: url(../image/judges_gavel.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    background-color: #1b1a11; 
}
.services__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.services__item {
    padding: 20px;
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services__item img {
width: 80px;
height: 90px;
margin-right: 30px;
}
.search-notar img {
    margin-left: 20px;
    margin-right: 35px;
}
.services__item a {
    font-size: 36px;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s;
}
.services__item a:hover {
    opacity:  0.5;
}
.rate-notar img {
    margin-left: 8px;
}

.footer {
    width: 100%;
    background-color: #333333;
    padding: 20px 0;
}
.footer__logo {
    width: 140px;
    height: 40px;
    background-image: url(../image/e-notarius_logo.png);
    background-position: center;
    background-size: cover;
    background-position: center;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.social {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.social-links{
    margin: 0;
    padding: 0;
}
.social-links li {
    display: inline-block;
    margin-left: 20px;
    transition: all 0.3s;
}

.social-links li:hover {
color: #22241d;
}

.menu-btn {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
}
.menu-btn span {
    display: block;
    width: 40px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    transition: all 0.3s;
}
.menu-btn.active .disappear {
    display: none;
}
.menu-btn.active .move-down {
    transform: rotate(45deg);
    width: 30px;
}
.menu-btn.active .move-up {
   
    transform: rotate(135deg);
    width: 30px;
}
.menu-btn.active span {
    padding-bottom: 0px;
}
.menu-btn.active {
   margin-top: 20px;
}

.btn-enter,
.btn-registration{
    max-width: 430px;
    width: 100%;
    padding: 10px;
    margin-bottom: 100px; 
    background-color: #d1b09d;
    color: #333333;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    text-align: center;
    margin-top: -43px;
}

.btn-enter:hover,
.btn-registration:hover {
    color: #ffffff;
}
.btn__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.main-content__map--search {
    width: 70%;
}
#main{
    width: 90%;
    max-height: 700px;
    /* background-color: #f6e3d2; */
    border-radius: 20px;
    margin: 50px auto;
    overflow-y: scroll;
    z-index: 5;
    text-align-last: left;
   }
   .li{
    font-family: 'Roboto Slab', serif;
    color: black;
    margin-left: 30px;
    margin-top: 20px;

   }
   ul li{
 color: black;
   }
   
   #messPolityka{
    z-index: 99999;
    display: none;
    position: absolute;
    top: 7rem;
    right: 3rem;
    width: 300px; 
    height: 85px; 
    
    background-image: url('../image/messPol.png'); 
    background-size: cover;
    
   }
