html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }
  button {
    cursor: pointer;
    transition: all 0.3s;
  }
  ul {
      list-style: none;
  }
  
  body {
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 17px;
      line-height: 1.4; 
      height: auto;
      background-color: #dec8ba;
  }

  #first-name,
  #second-name {
      margin-bottom: 15px;
  }

 .content {    
 margin: 0 auto;
 max-width: 1900px;
 position: relative;
}      

.container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;  
}
.header {    
    padding: 15px 20px 510px 0;    
    background-image: url(image/notarius_mail_pic_books.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.header__wrapper {  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 215px;
    height: 40px;
    background-image: url(image/e-notarius_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header__logo img{
    width: 100%;
    height: auto;
}

.navigation-list {
    margin: 0;
}
.navigation-list li {
    display: inline-block;
    transition: all 0.3s;
}
.navigation-list li:hover {
    color: #22241d;
}
.navigation-list .active {
    color: #22241d;
}

.navigation-list li + li {
    margin-left: 40px;
}
.form-title {
    color: #22241d;
    text-align: center;
    margin: 70px 0;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: -150px;
    left: 85px;
}

.registration-form {
    width: 430px;
    margin: 0 auto;
    position: relative;
}

.registration-form label, input {
    width: 100%;
}

.registration-form label {
    color: #333333;
}
.registration-form input {
    margin: 15px 0 45px;
   border: 1px solid  #a59f9c;
   background-color: transparent;
   padding: 8px 10px;
}
.registration-form input::placeholder {
    color: #666666;
}
.btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 100px; 
    background-color: #d1b09d;
    color: #333333;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
}
.btn:hover {
    color: #ffffff;
}

.services {
    padding: 100px 0px;
    background-image: url(image/judges_gavel.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    background-color: #1b1a11; 
}
.services__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.services__item {
    padding: 20px;
    width: 440px;
    display: flex;
    justify-content: space-between;
}
.services__item img {
width: 80px;
height: 90px;
margin-right: 30px;
}
.search-notar img {
    margin-left: 20px;
    margin-right: 35px;
}
.services__item a {
    font-size: 36px;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s;
}
.services__item a:hover {
    opacity:  0.5;
}
.rate-notar img {
    margin-left: 8px;
}

.footer {
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    /* z-index: 5; */
    background-color: #333333;
    padding: 20px 0;
}
.footer__logo {
    width: 140px;
    height: 40px;
    background-image: url(image/e-notarius_logo.png);
    background-position: center;
    background-size: cover;
    background-position: center;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.social {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.social-links{
    margin: 0;
    padding: 0;
}
.social-links li {
    display: inline-block;
    margin-left: 20px;
    transition: all 0.3s;
}

.social-links li:hover {
color: #22241d;
}

.menu-btn {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
}
.menu-btn span {
    display: block;
    width: 40px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    transition: all 0.3s;
}
.menu-btn.active .disappear {
    display: none;
}
.menu-btn.active .move-down {
    transform: rotate(45deg);
    width: 30px;
}
.menu-btn.active .move-up {
   
    transform: rotate(135deg);
    width: 30px;
}
.menu-btn.active span {
    padding-bottom: 0px;
}
.menu-btn.active {
   margin-top: 20px;
}



/* ********************************** */
@media (max-width: 1200px) {
 .container {
     padding: 0 15px;
 }  
}

@media (max-width: 1090px) {
    .services {
        padding: 120px 0px;
    }
   }
   @media (max-width: 942px) {
       body {
        font-size: 14px;
       }
    .services {
        padding: 20px 0px;
    }
    .services__wrapper {
        justify-content: center;
   }
   .services__item img {
    
    margin-right: 60px;
}
.services__item {
   
    width: auto;
   
}
.search-shield  {
   padding-left: 0px;
}
.menu-btn {
    display: block;
   
}
.navigation-list {
        display: none;
        text-align: center;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: transparent; 
}
.footer {
    bottom: -60px;
}
.footer__wrapper {
    flex-wrap: wrap;
    padding: 10px;
}

.services__item a {
    font-size: 30px;
}
.social {
    width: 100%;   
    margin: 10px 0 0 20px; 
}
}

@media (max-width: 645px) {
    .services__item img {
        width: 50px;
        height: 60px;
    }
    .search-shield {
        padding-left: 20px;
    }
    .navigation-list {
        width: 100%;
        text-align: center;
        top: 70px;
        left: 0;
       
    }
    .navigation-list li {        
        display: block;
        margin: 0 0 15px 0;
       
    }
    .navigation-list li + li {        
               margin-left: 0;
       
    }
    
   }
   @media (max-width: 480px) {
       
    .registration-form {
        width: 100%;
    }
    .header {
        padding: 15px 20px 250px 0;
    }
    .services__item img {
        margin-right: 20px;
    }
    .form-title {        
        left: 75px;

    }
    .footer__wrapper {
        justify-content: center;
    }

    .rights, 
    .sign {
        width: 100%;
        text-align: center;

    }
    .rights{
        text-align: center;
    }
    .social {
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-links {
        min-width: 300px;
        text-align: center;
        margin-top: 10px;
    }
   
    .menu-btn.active .move-down,
    .menu-btn.active .move-up
     {
        width: 20px;
    }
    .menu-btn span{
        width: 30px;
    }
    .services__item {
        padding: 0px;
    }
    
   }
   @media (max-width: 320px) {       
    
    .form-title {        
        left: 25px;
    }
    
   }